.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #15b577;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-Title {
  background-color: #53a1c8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: calc(100%-5px) */
  height: 10vh;
  font-size: 3vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.App-Menu {
  background-color: #baa6f2;
  border: solid;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2vmin);
  color: white;
}

.App-Board {
  background-color: #000000;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5vh;
  white-space: pre-line;
  color: azure;
    

}

.App-link {
  color: #61dafb;
}

.A
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
