.App {
  text-align: center;
  background-color: hsl(0, 0%, 0%);
}

.App-Title {
  background-color: #1cacf4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: calc(100%-5px) */
  height: 10vh;
  font-size: 3vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}


.Tile {
  display: inline-block;
  width: 5vw;
  height: 5vw;
  background-color: #00000000;
  border: solid;
  border-color: #fdfdfd;
  border-radius: 10px;
}

.Board {
  background-color: hsl(0, 0%, 0%);
  border: solid;
}

.Row {
  height: 4vh;
  width: 95vw;
  margin: auto;
  list-style: none;
  /* color: transparent; */
}

.App-Game {
  background-color: #000000;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  white-space: pre-line;
  color: azure;
}
