.App {
  text-align: center;
  background-color: hsl(0, 0%, 0%);
  justify-content: space-around;
}

.Menu {
  text-align: center;
  color: rgb(30, 232, 232);
  background-color: rgb(43, 45, 45);
  height: 7vh
}

.Board {
  
}

.App-Title {
  height: 15vh; 
  font-size: 3vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.Row {
  height: 4vh;
  width: 95vw;
  margin: auto;
  list-style: none;
  padding-bottom: 1vh;
 
}

.App-Game {
  background-color: #000000;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
  white-space: pre-line;
  color: azure;
}

.None {
  display: inline-block;
  width: 4.5vh;
  height: 4.5vh;
  border: solid;
  border-color: #fdfdfd;
  background-color: transparent;
  border-radius: 7px;
}

.LighBlue {
  display: inline-block;
  width: 4.5vh;
  height: 4.5vh;
  border: solid;
  border-color: #fdfdfd;
  background-color:  #9bfcff; 
  border-radius: 7px;
}

.Yellow {
  display: inline-block;
  width: 4.5vh;
  height: 4.5vh;
  border: solid;
  border-color: #fdfdfd;
  background-color:  #fbf02a;  
  border-radius: 7px;
}  

.Orange {
  display: inline-block;
  width: 4.5vh;
  height: 4.5vh;
  border: solid;
  border-color: #fdfdfd;
  background-color:  #f8a219;  
  border-radius: 7px;
}

.DarkBlue {
  display: inline-block;
  width: 4.5vh;
  height: 4.5vh;
  border: solid;
  border-color: #fdfdfd;
  background-color: hsl(233, 86%, 60%);  
  border-radius: 7px;
}

.Green {
  display: inline-block;
  width: 4.5vh;
  height: 4.5vh;
  border: solid;
  border-color: #fdfdfd;
  background-color:  #9bffac;  
  border-radius: 7px;
}

.Red {
  display: inline-block;
  width: 4.5vh;
  height: 4.5vh;
  border: solid;
  border-color: #fdfdfd;
  background-color:  #fd6d6d;  
  border-radius: 7px;
}

.Purple {
  display: inline-block;
  width: 4.5vh;
  height: 4.5vh;
  border: solid;
  border-color: #fdfdfd;
  background-color:  #ba80f8; 
  border-radius: 7px;
}
